@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Fjalla+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fjalla One", sans-serif;
}

#content {
  min-height: 100vh;
}