.content_wrapper {
  padding-top: 40px;
  text-align: center;
}
.content_title {
  font-family: "Cookie", cursive;
  font-size: 3em;
  margin-bottom: 10px;
}
.description {
  font-family: 'Niconne', cursive;
  font-size: 1.5em;
  margin: 0px 20px 20px 20px;
}
#restaurant {
  background-color: #f1f1f1;
  padding-bottom: 40px;
}


/* CARDS */
.card {
  background-color: white;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    width: 80%;
    max-width: 400px;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(61, 61, 61);
    border-radius: 5px;
}
.card_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0px 0px;
}
.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.location, .rating {
  margin-top: 10px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.loc, .location p {
    color: #d63031;
}
.star {
    color: #fbc531;
    margin-right: 5px;
}
.restaurant_name {
    margin-top: 10px;
    font-family: "Cookie", cursive;
    font-size: 2.5em;
}
.restaurant_desc {
    overflow: hidden;
    display: -webkit-box;
   -webkit-line-clamp: 5;
   -webkit-box-orient: vertical;
   font-size: 1.2em;
    margin: 10px 30px;
}
.background-favorite {
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  right: -40px;
  width: 150px;
  height: 50px;
  background-color: #485460;
  box-shadow: 0px 4px 10px rgb(0, 0, 0);
}
.favorite-wrapper {
  border-radius: 0px 0px 0px 10px;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fd79a8;
}
.favorite-wrapper span {
  font-size: 44px;
}
